@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.con {
  background-image: url(./image/bck.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1440px;
  height: 773px;
  color: white;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 20px;
}
.nav {
  display: flex;
  gap: 24px;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 200px;
}
.text {
  font-size: 80px;
  color: #e8edf2b8;
  font-family: "Bebas Neue", sans-serif;
}

.text-big {
  font-size: 250px;
  color: white;
  font-family: "Bebas Neue", sans-serif;
}


.con2 {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  background-image: url(./image/sec2-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  max-width: 1440px;
  color: white;
}


.card {
  display: flex;
  background-size: cover;
  width: 275.49px;
  height: 370px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  font-size: 37px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  color: #fdfdfecc;
  box-shadow: 8px 8px 0px 0px #29728b40, -8px -8px 0px 0px #1f72aa75;
}
.overlay {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay:hover {
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
  border-radius: 40px;
}
.bg-image-1 {
  background-image: url("./image/sec2-location1.png");
}
.bg-image-2 {
  background-image: url(./image/sec2-location2.png);
}
.bg-image-3 {
  background-image: url(./image/sec2-location3.png);
}
.bg-image-4 {
  background-image: url(./image/sec2-location4.png);
}

.con3 {
  background-image: url(./image/sec3-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1022px;
  width: 100%;
  max-width: 1440px;
  color: black;
  position: relative;
}
.hero1 {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blocks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  gap: 20px;
  font-family: sans-serif;
}
.block_flex {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
 
}
.circle{
  position: absolute;
  width: 245.34px;
  height: 245px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 10;
  

}

.p1{ top: 330px; left: 1100px; background-image: url(./image/sec3-day1.png);}
.p2{ top:  270px;left:800px; background-image: url(./image/sec3-day2.png);}
.p3{ top: 340px; left: 700px; background-image: url(./image/sec3-day3.png);}
.p4{ top: 40px; left: 550px; background-image: url(./image/sec3-day4.png);}
.p5{ top: 140px; left: 800px; background-image: url(./image/sec3-day5.png);}


.day1:hover ~ .p1{opacity: 1;}
.day2:hover ~ .p2{opacity: 1;}
.day3:hover ~ .p3{opacity: 1;}
.day4:hover ~ .p4{opacity: 1;}
.day5:hover ~ .p5{opacity: 1;}

.blocks.hover ~ .circle{opacity: 0;}

.block1 {
  display: flex;
  background-color: #eee9d9;
  width: 513px;
  height: 112px;
  border-radius: 120px;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  border: solid #eee9d9 5px;
  font-family: sans-serif;
}
.block1:hover {
  border-color: white;
}


.block2 {
  border: solid 4px white;
  display: flex;
  background-color: #8bb8c1cc;
  width: 513px;
  height: 112px;
  border-radius: 120px;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  border: solid #8bb8c1cc 5px;
  font-family: sans-serif;
}




.block2:hover {
  border-color: white;
}

.block3 {
  border: 1px;
  display: flex;
  background-color: #aad8d7cc;
  border-color: white 4px;
  width: 513px;
  height: 112px;
  border-radius: 120px;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  border: solid #aad8d7cc 5px;
  font-family: sans-serif;
}




.block3:hover {
  border-color: white;
}

.block4 {
  border: 1px;
  display: flex;
  background-color: #8bc0bdcc;
  border-color: white 4px;
  width: 513px;
  height: 112px;
  border-radius: 120px;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  border: solid #8bc0bdcc 5px;
  font-family: sans-serif;
}






.block4:hover {
  border-color: white;
}

.block5 {
  border: 1px;
  display: flex;
  background-color: #97cce0cc;
  border-color: white 4px;
  width: 513px;
  height: 112px;
  border-radius: 120px;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  border: solid #97cce0cc 5px;
  font-family: sans-serif;
}







.block5:hover {
  border-color: white;
}

.daycon {
  border: 1px;
  width: 52px;
  height: 48px;
  border-radius: 100%;
  background-color: white;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.con4 {
  background-image: url(./image/sec4-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  


}
.cardprice {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  padding: 40px;
}
.hero2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}
.block6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  font-family: sans-serif;
  height: 527px;
  width: 384px;
  border-radius: 40px;
  gap: 20px;
  padding: 20px;
}
.cardprice .block6:hover{
 box-shadow: 8px 8px 0px 0px #1f72aa75, -8px -8px 0px 0px  #b4b1b1;
}
.slct-button{
  background-color: #A4D1E2;
  width: 336px;
  height: 48px;
  border-radius: 20px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  cursor:pointer;
}
.slct-button p {
  margin: 0;
  color: black;
}
.slct-button:hover{
background-color: #18181BE5;
}
.slct-button:hover p{
  color: white;
}


.block7{
  background-color: white;
  width: 167px;
  height: 44px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6972B5;
  font-family: sans-serif;
  gap: 10px;
  transition: 0.3s;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px; 
  color: white;

}
.footer-socials {
  display: flex;
  flex-direction: row;
  gap: 40px; 
}













